/* MOBILE */
@media screen and (max-width: 767px) {
	#Landing {
		height: auto;
	}

	.Landing-Panel {
		padding: 2em 0;
	}

	.Apple-Button {
		width: 100px;
	}
	.Landing-Panel {
		width: 100%;
		margin: 2em 0;
	}
	.Landing-Body {
		display: block;
		padding: 0 1em;
	}

	.Landing-Body-Buttons > * {
		width: 40%;
	}
}

/* MOBILE - PORTRAIT */
@media screen and (max-width: 480px) and (orientation: portrait) {
	.Landing-Body-Header h3 {
		padding-left: 1em;
	}

	.Landing-Body-Buttons a {
		padding-top: 5px;
	}
}

/* MOBILE - LANDSCAPE */
@media screen and (min-width: 481px) and (max-width: 767px) and (orientation: landscape) {
	.Landing-Body-Header h3 {
		margin-left: 1em;
	}

	.Landing-Body-Buttons a {
		padding-top: 10px;
	}
}


/* TABLET */
@media screen and (min-width: 768px) and (max-width: 1024px) {
	#Landing {
		height: 100%;
	}

	.Landing-Panel {
		margin: auto;
		padding: 1em 0;
	}

	.Landing-Body-Buttons {
		margin-top: 5em;
	}

	.Apple-Button {
		width: 10em;
	}

	.Landing-Body-Divider {
		margin: 2em 0;
		opacity: 0.1;
		background-color: gray;
	}

	.Landing-Body {
		padding: 0 1em;
		display: flex;
	}

	.Landing-Body-Header h3 {
		padding-left: 1em;
	}

	.Landing-Body-Buttons a {
		padding-top: 2px;
		width: 9em;
	}

	.Landing-Body-Left-Panel, .Landing-Body-Right-Panel {
		padding: 0 1em;
		width: 100%;
	}
}


/* TABLET - PORTRAIT */
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
	
}

/* TABLET - LANDSCAPE */
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
	.Landing-Panel {
		width: 90%;
	}
}


/* DESKTOP */
@media screen and (min-width: 1025px) {
	#Landing {
		height: 100%;
	}

	.Landing-Panel {
		margin: 5em auto;
		padding: 1em;
		width: auto;
	}

	.Landing-Body {
		padding: 0 1em;
		display: flex;
	}

	.Landing-Body > * {
		margin: 0 auto;
	}

	.Landing-Body-Header h3 {
		padding-left: 1em;
	}

	.Landing-Body-Divider {
		margin: 2em 0;
		opacity: 0.1;
		background-color: gray;
	}

	.Landing-Body-Buttons {
		margin-top: 4.5em;
	}

	.Landing-Body-Buttons a {
		padding-top: 10px;
		width: 11em;
	}

	.Landing-Body-List li {
		font-size: 16px;
	}

	.Apple-Button {
		width: 10em;
	}

	.Landing-Body-Left-Panel, .Landing-Body-Right-Panel {
		width: auto;
		padding: 0 1em;
	}
}


.Landing-Panel {
	background-color: white;
	height: fit-content;
	border-radius: 5px;
	-moz-box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
	box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
}

.Landing-Headline {
	text-align: center;
}

.Landing-Headline h2 {
	font-family: Avenir-Roman;
	font-size: 19px;
	font-weight: normal;
	line-height: normal;
	letter-spacing: -0.12px;
	color: #3198e5;
}

.Landing-Body-Header img {
	width: 4em;
	height: 4em;
}

.Landing-Body-Header h3 {
	color: #87cbff;
 	font-size: 18px;
	font-weight: 900;
}

.Landing-Body-List {
  list-style-type: none;
  padding-left: 0em;
}

.Landing-Body-List li {
  font-weight: 500;
  text-align: left;
  color: #333241;
  line-height: 1.5;
  letter-spacing: normal;
}

.Landing-Body-List li:before {
  content: "-";
  font-weight: bold;
  padding-right: 5px;
  margin-left: 1em;
}

.Mobile-Link {
	text-align: center;
}

.Mobile-Link h4 {
	font-size: 18px;
	font-weight: 900;
	color: #333241;
}

.Mobile-Link-Buttons, .Landing-Body-Buttons, .Landing-Body-Header {
	display: flex;
}

.Mobile-Link-Buttons > *, .Landing-Body-Buttons > * {
	margin: 0 auto;
}

.Landing-Body-Buttons > * {
	background-color: #3198E5;
	color: white;
	border: none;
	border-radius: 5px;
	font-size: 15px;
	justify-content: center;
	cursor: pointer;
	height: 3em;
	font-weight: 500;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
}

.SignIn-Link-Button {
	font-size: 18px;
	font-weight: 900;
	justify-content: center;
	background-color: white;
	margin: 1em 0;
	cursor: pointer;
	color: #3198e5;
	text-decoration: underline;
	border: none;
} 