/* MOBILE */
@media screen and (max-width: 767px) {
  .Password-Recovery-Panel {
    width: 100%;
  }
}

/* TABLET */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .Password-Recovery-Panel {
    width: 70%;
  }
}

/* DESKTOP */
@media screen and (min-width: 1025px) {
  .Password-Recovery-Panel {
    width: 28em;
  }
}

#PasswordReset {
  height: 100%;
}

#PasswordReset > * {
  font-family: 'Avenir';
  line-height: normal;
}

.Password-Recovery-Panel {
  background-color: white;
  height: auto;
  border-radius: 5px;
  -moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  margin: auto;
}

.Password-Recovery-Header {
  display: flex;
}

.Password-Recovery-Header a {
  margin-left: 1em;
  position: absolute;
}

.Password-Recovery-Header h2 {
  font-size: 17px;
  font-weight: 900;
  color: #333241;
  margin: 1em auto;
}

.Password-Recovery-form {
  width: 80%;
  height: auto;
  margin: 0 auto;
  flex-direction: column;
  text-align: center;
  margin-top: 2em;
  display: flex;
}

.Password-Recovery-form input {
  height: 3em;
  border-radius: 4.2px;
  border: solid 0.5px #a4a4b3;
  width: 80%;
  font-size: 1em;
  padding-left: 1em;
  display: flex;
  margin: 1em auto;
}
