/* MOBILE AND TABLET */
@media screen and (max-width: 1024px) {
	.UserRegistration-Panel {
    	width: 100%;
	}
}

/* DESKTOP */
@media screen and (min-width: 1025px) {
	.UserRegistration-Panel {
    	width: 28em;
	}
}

#UserRegistration {
	height: 100%;
}

#UserRegistration > * {
	font-family: "Avenir";
	line-height: normal;
}

.UserRegistration-Panel {
	background-color: white;
	height: auto;
	border-radius: 5px;
	-moz-box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
	box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
	margin: auto;
}

.UserRegistration-Header {
	display: flex;
}

.UserRegistration-Header a {
	margin-left: 1em;
	position: absolute;
}

.UserRegistration-Header h2 {
	font-size: 17px;
	font-weight: 900;
	color: #333241;
	margin: 1em auto;
}

.social-register-error {
	background: white;
	width: 100%;
	color: red;
	font-size: 13pt;
	padding: 1em;
}

.Registration-Form input {
	height: 3em;
	border-radius: 4.2px;
	border: solid 0.5px #a4a4b3;
	width: 80%;
	font-size: 1em;
	padding-left: 1em;
	display: flex;
	margin: 1em auto;
}